# Introduction to Python
1. Python Basics shift+enter
2. extension .ipynb -introduction Python Notebook

## Lets Learn Python

In [7]:
# comment print an output
print ("hello world")

hello world

In [8]:
# Python is an Interpreted Language

In [9]:
# Interpreted Language vs. Compiled Language
# Interpreted Language - Statements are executed line by line.  Compiled - Entire code converted into machine code, then you execute the code.

In [10]:
# Variables
age= 18 # a variable can store some value; and its value can change not be fixed
print(age)

18

In [11]:
age=19
print(age)

19

In [12]:
print ('My age is', age)

My age is 19

In [14]:
# Data Type - Type of data
Age= 30 # Number -- Integer
Marks= 45.5 # float type
Name = 'John' # String type -- String is collection of characters on your keyboard - alphanumerical e.g. location, city, address, etc. are strings 
#These are Python basic data types

In [15]:
age=30
print(age)
print(type(age))

30
<class 'int'>

In [17]:
Height=5.4 
print(Height)
print(type(Height))

5.4
<class 'float'>

In [20]:
# Python automatically assigns the data type by obserivng the data.  
# For example, if it sees that the data does not have a decimal, it is integer data.  If it has a decimal point, it is a float data.

In [22]:
Name="John"
print(Name)
print(type(Name))

John
<class 'str'>

In [23]:
print(Name, type(Name))

John <class 'str'>

In [25]:
print(age, Height, Name, type(age), type(Height), type(Name))

30 5.4 John <class 'int'> <class 'float'> <class 'str'>

In [26]:
# class - Object Oriented Programming Language
# Everything inside Python is written in classes
# Class examples are like employee class, 
# Variable rules:
# Name must start with alphabet or underscore, does not start with number, and should contain only alpahnumeric characters (no special characters allowed)

In [27]:
# Python is case sensitive
Age=18
age=30
AGE=70
print(Age, age, AGE)

18 30 70

In [28]:
# Can I convert one data type into another data type - This process is called Typecast
# Create a variable of integer type and convert to float
x = 67
y = float(x)
print(y)

67.0

In [31]:
y=40.0
x=29
x=y
print(x)

40.0

In [32]:
x=40.0
y=29
x=y
print(x)

29

In [35]:
x=60.77
y=int(x)
print(y)

60

In [38]:
x=34
print(float(x))
print(type(x))

34.0
<class 'int'>

In [39]:
x=34.0
y=int(x)
print(y)

34

In [40]:
print(type(y))

<class 'int'>

# operators
1. Arithmetic Operators: +, -, *, /
2. Logical Operators: AND OR NOT
3. Comparison Operators: < > = !=

In [42]:
x=4
y=6
print(x+y)

10

In [43]:
print(x-y)

-2

In [44]:
x-y

-2

In [45]:
x-y
x+y

10

In [46]:
#When you don't use print statement, it will only print based on the last one

In [50]:
x/y #division

0.6666666666666666

In [51]:
x//y #floor division

0

In [57]:
x=4
y=6
print('expo', x**3)

expo 64

In [60]:
x=11
y=2
print('Modulus', x%y) #modulus is used to calculate remainder

Modulus 1

In [66]:
# Comparison Operator < > <= >= == !=
a=20
b=10
print(a<b) # Comparison operator always returns in boolean - either true or false

False

In [67]:
print(a>b)

True

In [71]:
a=20
b=30
print('Pass', a>=b)

Pass False

In [72]:
# Comparing two equal values: Suppose two persons have the same age, one has age 18, another also has age 18
age=18
age1=18
print(age==age1)

True

In [73]:
# Comparing two equal values: Suppose two persons have the same age, one has age 18, another also has age 18
age=18
age1=12
print(age==age1)

False

In [74]:
age=18
age1=12
print(age!=age1)

True

In [75]:
# In Python, we also have some keywords which are reserved words that can be used for special purpose (e.g. True, False, For, Loop)...you cannot use these as variables. 
# logical Operator: AND - Both conditions must be true, OR - Either one condition must be true, NOT - Reverses the condition
# Age must be greater than 18 and then you must have voter ID card
a=True
b=False
print(a and b)

False

In [76]:
a=True
print(not a)

False

# Sequence Data Types of Python
1. List 
2. Tuple
3. Set
4. Dictionary
5. String

In [1]:
# String is set of characters
str1='Hello'
print(str1)

Hello

In [2]:
# part of string - access the string through the index
# index of a string always starts with 0
# index of a string is 0 to lenght-1
# string is not mutable
# H e l l o -- This is called forward indexing
# 0 1 2 3 4

# Backward Indexing
# H   e  l   l   o
# -5 -4 -3  -2  -1

In [3]:
print(str1[0])

H

In [5]:
print(str1[3])

l

In [6]:
len(str1)

5

In [9]:
# print last character of a string
print(str1[-1])

o

In [15]:
#Print sub string
#string
str1 = 'Hello Python Language'
print(str1)

Hello Python Language

In [17]:
# print hello
# operator  -- range :  ':' column gives you the range
print(str1[0:4])  # range: pass one higher range as the last one

Hell

In [18]:
print(str1[0:5])

Hello

In [19]:
print(str1[6:12])

Python

In [20]:
len(str1)

21

In [23]:
# Backward slicing
print(str1[-8:])

Language

In [24]:
print(str1[0:5:1]) # start index: end index: step size

Hello

In [25]:
print(str1[0:5:2])

Hlo

In [27]:
print(str1[-8:-19:-1])

L nohtyP ol

In [28]:
print(str1[0:22])

Hello Python Language

In [29]:
print(str1[ : ])

Hello Python Language

In [30]:
print(str1[ :7])

Hello P

In [31]:
print(str1[4:])

o Python Language

In [32]:
str1[::]

'Hello Python Language'

In [35]:
print(str1)

Hello Python Language

In [36]:
print(str1[0:22:1])

Hello Python Language

In [37]:
print(str1[-21:])

Hello Python Language

In [39]:
print(str1[::-1])

egaugnaL nohtyP olleH

# Hello my hobby is traveling
1. Can you print Hello?

In [58]:
str1='Hello, my hobby is traveling'
print(str1)

Hello, my hobby is traveling

In [44]:
#Print Hello 
print(str1[0:5])

Hello

In [84]:
str2=str1.count('b')
print(str2)
str2=str1.casefold()
print(str2)
#str3=str1.translate('traveling', ) - Need a table to translate from source string into the destination string
print(str3)
str2=str1.encode(encoding='utf-16')
print(str2)
str2=str1.find('traveling')
print(str2)
str2=str1.expandtabs()
print(str2)

2
hello, my hobby is traveling
Hello, my hobby is traveling
b'\xff\xfeH\x00e\x00l\x00l\x00o\x00,\x00 \x00m\x00y\x00 \x00h\x00o\x00b\x00b\x00y\x00 \x00i\x00s\x00 \x00t\x00r\x00a\x00v\x00e\x00l\x00i\x00n\x00g\x00'
19
Hello, my hobby is traveling

In [40]:
#11/19/2022 Assignment Work to use verious methods to print substring of the str1
# Print traveling
print(str1[-9:-1])  # Why this is trimming the last character?
print(str1[-9:])

['Hello,', 'my', 'hobby', 'is', 'traveling']
['Hello,', 'my', 'hobby', 'is', 'traveling', 'In New Zealand']

In [38]:
#Skip two characters in the string
print(str1[0:len(str1):2]) 

# Hello, my hobby is traveling should result into H(el)l0(, m)y( h)ob(by)
# 01234567890123456789012345678
# 0  34  78  12  56  90  34  78
# H  l0  my  ob   i  tr  el  g x

['Hello,', 'hobby', 'traveling']

In [37]:
#Convert string to list
str2=str1.split()
str2
print (type(str1))
print(type(str2))
str1=str2
print(type(str1))

<class 'str'>
<class 'list'>
<class 'list'>

In [45]:
str1="hello"
str2 = "world"
str3 = str1+ ' ' + str2
str3

'hello world'

In [52]:
str4 = str1*3
str4

'hellohellohello'

In [55]:
str1='hello python'
print(str1.upper())

HELLO PYTHON

In [56]:
print(str1.capitalize())

Hello python

In [57]:
#Assignment2: Explore all string functions
print(str1.startswith('Hello'))

False

In [58]:
print(str1.startswith('hello'))

True

In [59]:
print(str1.startswith('h'))

True

In [61]:
str1.find('p')

6

In [62]:
# Convert string into list - very important operations to convert data into list. 
str1.split()

['hello', 'python']

In [69]:
# replace method
str2 = 'xdsds hello python'
str2.replace('xdsds ','')

'hello python'

In [74]:
# Example that a string is not mutable
str1='Hello'
str1[0]='A'

TypeError: 'str' object does not support item assignment

# List: Sequence data type 
1. Collection of Mixed data types
2. List is created using [], list constructor
3. List is indexed & ordered
4. List is mutable i.e. changes are allowed -- interview question
5. List can contain duplicate items

In [71]:
#create a list
list1 = [34,56, 6.7, 8.9, 'orange', 'banana', True]
print(list1)

[34, 56, 6.7, 8.9, 'orange', 'banana', True]

In [73]:
print(type(list1))

<class 'list'>

In [76]:
print(list1[0])

[34, 56, 6.7, 8.9, 'orange', 'banana', True]

In [80]:
print(list1[4])

orange

In [81]:
print(list1[-4])

8.9

In [83]:
# access first 3 elemtns of the list
print(list1[0:3])

[34, 56, 6.7]

In [87]:
# access 
print(list1[4:6])
print(list1[-2:-1])

['orange', 'banana']
['banana']

In [90]:
print(list1[::-1])

[True, 'banana', 'orange', 8.9, 6.7, 56, 34]

In [93]:
print(list1[:-1:])

[34, 56, 6.7, 8.9, 'orange', 'banana']

In [96]:
# Example that list is mutable 
# Why it is important - say someone failed the exam earlier and then passed in the second attempt, you want to replace the value 
list1[1]=89  # replacing 56 to 89 - meaning a new value is replacing the old value - it is allowed in list - which is called mutation
print(list1)

[34, 89, 6.7, 8.9, 'orange', 'banana', True]

In [104]:
# Operations with list
# Insert some item into the list
list2=[56, 34, 23, 12]
list2.insert(-1, 89)
print(list2)

[56, 34, 23, 89, 12]

In [105]:
list2.append(100)

In [106]:
list2

[56, 34, 23, 89, 12, 100]

In [107]:
list2.append(100)

In [108]:
list2

[56, 34, 23, 89, 12, 100, 100]

In [112]:
# Add multiple values at the end
list2.extend([55])
list2

[56, 34, 23, 89, 12, 100, 100, 55, 55, 55]

In [119]:
list2

[56, 34, 23, 89, 12, 100, 100, 55, 55, 55, 5, 6, 5, 6, 5, 6, 5, 6]

In [120]:
# append cannot add two data items but extend can add two data items
list2.append([5,6])

In [121]:
list2

[56, 34, 23, 89, 12, 100, 100, 55, 55, 55, 5, 6, 5, 6, 5, 6, 5, 6, [5, 6]]

In [122]:
list2[-1]

[5, 6]

In [123]:
# insert - position then item gets added
list2.insert(2, 'orange')
list2

[56,
 34,
 'orange',
 23,
 89,
 12,
 100,
 100,
 55,
 55,
 55,
 5,
 6,
 5,
 6,
 5,
 6,
 5,
 6,
 [5, 6]]

In [131]:
list2.remove(5)
list2

[56, 34, 'orange', 23, 89, 12, 100, 100, 55, 55, 55, 6, 5, 6]

In [133]:
list2.remove(6)
list2

[56, 34, 'orange', 23, 89, 12, 100, 100, 55, 55, 55, 5]

In [135]:
list2.pop()  # pop always removes the last data
list2

[56, 34, 'orange', 23, 89, 12, 100, 100, 55, 55]

In [138]:
list2.remove(55)
list2

[56, 34, 'orange', 23, 89, 12, 100, 100, 55]

In [142]:
list2

[56, 34, 'orange', 23, 89, 12, 100, 100, 55]

In [145]:
list2.remove('orange')

In [146]:
list2.sort(chr)
list2

[12, 23, 34, 55, 56, 89, 100, 100]

In [147]:
# join two lists
list1 =[4,5,6]
list2=[7,8,9]
list3=list1+list2

In [148]:
list3

[4, 5, 6, 7, 8, 9]

In [149]:
# You can add two lists but cannot subtract or multiply two lists
#Numpy array will do all sorts of data manipulation

In [150]:
# Membership operator
list1=[5,6,7]
print(5 in list1)

True

In [151]:
(5 in list1)

True

In [152]:
true_or_false=(5 in list1)
true_or_false

True

In [153]:
(10 in list1)

False

In [154]:
(10 not in list1)

True

In [155]:
true_or_false=(10 not in list1)

In [156]:
true_or_false

True

In [158]:
true_or_false=(5 not in list1)
true_or_false

False

In [ ]:
# tuple, set, dictionary, if else, loop, function
# Numpy array
# Statistics basics