Session 2 - Nov 19, 2022
# tuple, sets, dictionary, if else, loop, function
# Numpy array
# panda - Dataset
# Statistics basics

# Tuple
1. Sequence data types, can have mixed data types
2. Tuple is also ordered and indexed
3. Tuple can not be mutable (changes are not allowed)
4. Duplicate are allowed
5. Tuple is created by using circular brackets (), and using tuple constructor

In [12]:
# Createa a tuple
tuple1 = (4, 5, 6, 7.8, 'apple')
print(tuple1, type(tuple1))

(4, 5, 6, 7.8, 'apple') <class 'tuple'>

In [8]:
# Create a tuple using tuple constructor
a = tuple((7,6,5,4, 'orange'))
a

(7, 6, 5, 4, 'orange')

In [9]:
#Interchange is possible
List1 = [56, 667, 99]
Tuple1 = tuple(List1)
Tuple1

(56, 667, 99)

In [10]:
List2 = list(Tuple1)
List2

[56, 667, 99]

In [13]:
tuple1

(4, 5, 6, 7.8, 'apple')

In [14]:
tuple1[3]

7.8

In [15]:
tuple[2]=100   # Major difference between list and tuple...you can't change the value in tuple using direct assignment.

TypeError: 'type' object does not support item assignment

In [17]:
tuple1.count(7.8)

1

In [20]:
tuple1.index('apple')

4

In [26]:
#Two tuples can be added
tuple2=('orange', 8,9,55)
tuple3 = tuple1+tuple2
tuple3

(4, 5, 6, 7.8, 'apple', 'orange', 8, 9, 55)

# Set
1. Set items are unordered and unindexed
2. Set does not allow duplicate values
3. Sets are NOT mutable
4. Set can have mixed data type
5. Sets are more secured 
6. Sets are created using curly braces {}

In [39]:
set1 ={'apple', 4,5,6,9.5, 'Banana', 5}  # Set only contains unique items, does not allow duplicate items
print(set1)  # Order of data got changed where numbers are in the beginning but different people can get different ordered items
print(type(set1))

{4, 5, 6, 'Banana', 9.5, 'apple'}
<class 'set'>

In [31]:
# Set items are unordered, unindexed
set1[0]  # Error below shows that no index is assigned.

TypeError: 'set' object is not subscriptable

In [37]:
# Set is very useful application with strings, for example, if you use set on a paragraph to find unique words, it will tell you. 
print('apple' in set1)

True

In [40]:
set1

{4, 5, 6, 9.5, 'Banana', 'apple'}

In [43]:
# Operations that can be performed on Set
set1.add('cherry') # You can only add one item at a time in a set. You cannot add more than one item.

In [44]:
set1

{4, 5, 6, 9.5, 'Banana', 'apple', 'cherry'}

In [45]:
set1.add('cherry') # Duplicate is not allowed
set1

{4, 5, 6, 9.5, 'Banana', 'apple', 'cherry'}

In [46]:
set2={77,44,55}
set1.update(set2)  #Update function to add set2 values in set1
set1

{4, 44, 5, 55, 6, 77, 9.5, 'Banana', 'apple', 'cherry'}

In [50]:
l1=['a', 'b']  
set1.update(l1) # You can add list into Set or a tuple into set.
set1

{4, 44, 5, 55, 6, 77, 9.5, 'Banana', 'a', 'apple', 'b', 'cherry'}

In [52]:
set1.remove(77)
set1

{4, 44, 5, 55, 6, 9.5, 'Banana', 'a', 'apple', 'b', 'cherry'}

In [53]:
set3 = set(l1)
set3

{'a', 'b'}

In [54]:
l4=list(set3)
l4

['a', 'b']

In [55]:
set1={'google', 'AI', 3,4,5}
set2={'google', 'Data', 6,7,5}
print(set1.union(set2))

{'AI', 3, 4, 5, 6, 7, 'Data', 'google'}

In [56]:
#Union function as from math
set3=set1.union(set2)
set3

{3, 4, 5, 6, 7, 'AI', 'Data', 'google'}

In [58]:
set1

{3, 4, 5, 'AI', 'google'}

In [59]:
set2

{5, 6, 7, 'Data', 'google'}

In [62]:
#Intersection operation as from math

print(set1.intersection(set2))  # If you have two articles and if you want to find how many words are common, you can use this function to find out.

{'google', 5}

In [63]:
set1.isdisjoint(set2)

False

In [64]:
set1.discard(5)

In [65]:
set1

{3, 4, 'AI', 'google'}

In [66]:
set1.difference(set2)

{3, 4, 'AI'}

In [67]:
set1.add(5)
set1

{3, 4, 5, 'AI', 'google'}

In [70]:
set1

{3, 4, 5, 'AI', 'google'}

# Assignment1: Take two paragraphs and apply set operation

In [15]:
set1 = {'Saudi Arabia fans at the World Cup were in disbelief after their team shocked Argentina on Tuesday, setting off jubilant scenes in Qatar and the Saudi capital.\
        After one of the biggest upsets in the tournament’s history, fans flooded the streets outside Lusail Stadium waving green and white Saudi flags.\
        Then they entered a nearby subway station chanting, singing — and even hugging Argentina fans.Many were simply incredulous after the 2-1 \
        comeback victory over Argentina, which won the World Cup twice in 1978 and 1986.\
        And Argentina is one of the favorites this time — or it was until Tuesday — and also won the South American championship last year.'}

set2 = {'The Qatar 2022 World Cup just witnessed its first shocking result—and it was one for the ages.\
        Saudi Arabia, a neighbor to host country Qatar, upset Argentina 2-1 in the opening match of Group C \
        play on Tuesday afternoon in Lusail. The result left Argentinian supporters stunned in their seats in Lusail Stadium,\
        and set off a wild celebration among Saudis in the partisan crowd and at the nearby Fan Fest.\
        The country’s innovative high 4-4-1-1 formation put constant pressure on the heavily favored Argentinians,\
        and key defensive plays late in the fixture saved the day for the Saudis.'}
        
set3=set1.union(set2)
set3

{'Saudi Arabia fans at the World Cup were in disbelief after their team shocked Argentina on Tuesday, setting off jubilant scenes in Qatar and the Saudi capital.        After one of the biggest upsets in the tournament’s history, fans flooded the streets outside Lusail Stadium waving green and white Saudi flags.        Then they entered a nearby subway station chanting, singing — and even hugging Argentina fans.Many were simply incredulous after the 2-1         comeback victory over Argentina, which won the World Cup twice in 1978 and 1986.        And Argentina is one of the favorites this time — or it was until Tuesday — and also won the South American championship last year.',
 'The Qatar 2022 World Cup just witnessed its first shocking result—and it was one for the ages.        Saudi Arabia, a neighbor to host country Qatar, upset Argentina 2-1 in the opening match of Group C         play on Tuesday afternoon in Lusail. The result left Argentinian supporters stunned in their seats in Lusail Stadium,        and set off a wild celebration among Saudis in the partisan crowd and at the nearby Fan Fest.        The country’s innovative high 4-4-1-1 formation put constant pressure on the heavily favored Argentinians,        and key defensive plays late in the fixture saved the day for the Saudis.'}

In [17]:
set3=set1.intersection(set2)
set3

set()

In [18]:
set3=set1.isdisjoint(set2)
set3

True

#Dictionary
1. Unordered collection where data is arranged in key value pair. 
    a. Key(name): 'John'
    b. Key(Id): 456
2. You access the dictionary using keys
3. Keys must be unique
4. Dictionary can be one dimensional or two dimensional, as opposed to list, tuple, set which are one dimensional.
5. Dictionary is created by using curly braces {}

In [71]:
# Create a dictionary
# Store employee information
dict1={'id':123, 'name': 'Harry', 'Salary': 10000}
dict1

{'id': 123, 'name': 'Harry', 'Salary': 10000}

In [72]:
len(dict1)

3

In [74]:
# Access the items
dict1['name']

'Harry'

In [76]:
dict1['id']

123

In [78]:
dict1.keys()

dict_keys(['id', 'name', 'Salary'])

In [83]:
dict2={'id':123, 'name': 'Harry', 'Salary': 10000, 'id':456, 'name': 'Mary', 'Salary': 12000}
dict2['name']  # Key must be unique, so you will have to assign name1, name2 instead of name.

'Mary'

In [80]:
dict1.items()

dict_items([('id', 123), ('name', 'Harry'), ('Salary', 10000)])

In [90]:
# Add a new key value pair
dict1['dept'] ='Finance'
dict1

{'id': 123, 'name': 'Harry', 'Salary': 10000, 'dept': 'Finance'}

In [91]:
dict1.pop('dept')  # Function to remove a dictionary item
dict1

{'id': 123, 'name': 'Harry', 'Salary': 10000}

# Program - Set of Logic
# Conditional statements - if else

In [95]:
#Check which number is greater
a=5
b=4
if a > b: 
    print('a is greater', a)
else:
    print('b is greater', b)

a is greater 5

In [106]:
# Assignment2 : Check if a person can vote or not
age=18
votercard='True'
if age>=18 and votercard:
    print('You can vote')
else: 
    print('You cannot vote')
    
print(age)
votercard

You can vote
18

'True'

In [112]:
# Print marksheet of students
marks1=float(input('Enter your marks'))

if marks1<50:
    print('Grade: Fail')
elif marks1>=50 and marks1<=60: 
    print('Grade: F')
elif marks1>60 and marks1<70:
    print('Grade: D')
elif marks1>70 and marks1<80:
    print('Grade: C')
elif marks1>80 and marks1<90:
    print('Grade: B')
else: 
    print('Grade: A')

Enter your marks 55

Grade: F

# Assignment2: Compute salary of employee.  If basic salary is 10000 then you will add hra=basicsalary*.10, bonuus=25000

In [6]:
# Compute Salary
BasicSalary=float(input('Enter the basic salary'))

if BasicSalary <= 10000:
    HRA=BasicSalary*.10
    Bonus=BasicSalary*.05
elif BasicSalary > 10000 and BasicSalary <=30000:
    HRA=BasicSalary*.08
    Bonus=BasicSalary*.06
else:
    HRA=BasicSalary*0.07
    Bonus=BasicSalary*.07

Total_Salary= BasicSalary+Bonus
Total_Salary

Enter the basic salary 16000

16960.0

# Loop
1. Perform repetitive task
2. For Loop, While Loop

In [122]:
# for loop is always used some sequence data types
list1=[5,6,7,8,9]
for index in list1:
   print(index)

5
6
7
8
9

In [123]:
for index in list1:
    print(list1)

[5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]

In [133]:
list1=[5,6,7,8,9]
sum=0
for index in list1:
  sum=sum+index

print('Sum of list is:', sum)

Sum of list is: 35

In [143]:
# break & continue keywords

t1=(5,4,3,100,6,7)

# break the execution when 100 comes 
for i in t1:
  if (i==100):
        break
  else:
     print(i)  
     continue

5
4
3

In [144]:
# break the execution when 100 comes 
for i in t1:
  if (i==100):
        break
  else:
     continue
  print(i)

In [141]:
t1=(5,4,3,100, -34, 6, 7, -9, 4)

for i in t1:
  if i<0: 
     continue
  print(i)

5
4
3
100
6
7
4

In [5]:
# Range Function range()
range(5)

range(0, 5)

In [4]:
#print numbers between 1 to 10
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [3]:
#print numbers between 1 to 10
# Use of this function is that if you want o use the range 15 times or 16 times then you can specify the range inside the for loop. 
for i in range(10):  # Stop -1 
  print(i)

0
1
2
3
4
5
6
7
8
9

# While Loop

In [1]:
#In case of while loop, there are three things
i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [2]:
i=10
while i>=1:
  print(i)
  i=i-1

10
9
8
7
6
5
4
3
2
1

# Functions

# Functions - Code to perform a specific task
Use of Functions: 
    1. Once you write a function then you can call multiple times. 
    2. Reusability of code
    3. Function has two parts - Function declaration and function calling

In [7]:
# def keyword, call function by name  - these are user defined function. 

def display():
    print('Welcome Here')

In [8]:
display

In [9]:
display()

Welcome Here

In [10]:
# Write a function o add two numbers
def add(num1, num2):
    result=num1+num2
    return result

In [11]:
add(35,45)

80

In [12]:
add(5,6)

11

In [13]:
add(1000,450)

1450

# https://www.hackerrank.com/domains/python

In [15]:
list1=[4,5,6,7]
for index, item in enumerate(list1):
    print(index, item)

0 4
1 5
2 6
3 7

#Numpy library

# Two lists can be added but cannot be subtracted or multiplied or divided
# In case of Numpy library, we can use these function. 
Numpy is the foundational package for mathematical computing in Python

In [ ]:
Properties of ndarray